<app-header></app-header>
<div class="o-container">
  <div class="m-sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="m-main-content">
    <app-searchbar></app-searchbar>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <app-post-list
    (postDeleted)="handleDelete($event)"
    [userId] = "userId"
    [posts]="posts"
    class="a-post-list"
    >
    </app-post-list>
  </div>
  <div class="a-push"></div>
</div>
<app-create-post-button
*ngIf="userIsAuthenticated"
(postCreated)="onPostCreated($event)"
></app-create-post-button>
<app-footer class="a-footer"></app-footer>
