@import '../../../../../assets/styles/variables.scss';

.o-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: calc(100vh - 70px);
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  padding:2em;
}

.m-sidebar {
  flex:1;
}

.m-main-content {
 flex:3;
 margin-left: 2em;
}

.a-post-list {
  overflow: scroll;
}

mat-spinner {
  margin:auto;
}

