@import "../../../../../assets/styles/variables.scss";

.a-community-description {
  font: $regularText;
  color: $black;
}

.m-community-wrapper {
  background-color: $white;
  line-height: 1.1;
  padding: 2em;
  margin: 2em 0;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
}

.a-community-title {
  font: $BigSpecialText;
  color: $darkblue;
  cursor: pointer;
}

.a-icon {
  color: $cyan;
  margin-right: 0.2em;
}

.a-creators-name {
  font: $smallRegularText;
  color: $lightgrey;
  cursor: pointer;
}

.a-community-content {
  margin: 2em 0;
}

.a-community-users {
  font: $smallRegularText;
  color: $darkblue;
}

.a-no-community-text {
  font: $BigSpecialText;
  color:$purple;
}

.m-community-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.a-button {
  cursor: pointer;
  font:$smallSpecialSemibold;
  color: $darkblue;
  box-sizing: border-box;
  background-color: $grey;
  padding:1em 1.5em;
  border-radius: 8px;
}
.a-left-side {
  flex:3;
}

.m-menu {
  cursor: pointer;
}

.a-right-side {
  display: flex;
  flex:1;
  flex-flow: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 1em;
}

.a-icon {
  color: $cyan;
}

.m-no-community-wrapper {
  background-color: $white;
  line-height: 1.1;
  padding: 2em;
  margin: 2em 0;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
}
