<div *ngIf="communities.length > 0; else noCommunities">
  <div *ngFor="let community of communities" class="m-community-wrapper">
    <div class="m-community-container">
      <div class="m-community-header">
        <div class="a-left-side">
          <h2
            (click)="onGoToCommunity(community?._id)"
            class="a-community-title"
          >
            {{ community?.title }}
          </h2>
          <a
            (click)="onGoToProfile(community?.creator._id)"
            class="a-creators-name"
            >{{ community?.creator.name }}</a
          >
        </div>
        <div class="a-right-side">
          <div class="a-button" (click)="onJoinCommunity(community?._id)">
            <fa-icon [icon]="faLink" class="a-icon"></fa-icon> join
          </div>
          <div class="m-menu">

            <fa-icon
              class="a-post-more-icon"
              [icon]="faEllipsisH"
              [matMenuTriggerFor]="menu"
            ></fa-icon>
            <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
              <button
                *ngIf="userId !== community?.creator._id"
                mat-menu-item
                class="a-option-item"
              >
                Report
              </button>
              <button
                *ngIf="userId == community?.creator._id"
                mat-menu-item
                class="a-option-item"
                (click)="onCommunityDeleted(community?._id)"
              >
                Delete
              </button>
            </mat-menu>
          </div>


        </div>
      </div>
      <div class="a-community-content">
        <p class="a-community-description">{{ community?.description }}</p>
      </div>
      <div class="m-community-actions">
        <span class="a-community-users">
          <fa-icon [icon]="faUsers" class="a-icon"></fa-icon
          >{{ [community?.users].length }}</span
        >
      </div>
    </div>
  </div>
</div>

<ng-template #noCommunities>
  <div class="m-no-community-wrapper">
    <div class="a-no-community-text">No communities created yet</div>
  </div>
</ng-template>
