@import '../../assets/styles/variables.scss';

.a-button {
  width: 100%;
  margin: auto;
  font: 300 14px "Raleway", serif;
  color: $white;
  background-color: $cyan;
  padding: 4% 24%;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
