@import '../../../../assets/styles/variables.scss';

.m-post-comments-wrapper {
  margin: 1em 0;
}

.m-post-comment-display {
  padding: 1em 0;
}

.a-comment-user {
  font:600 12px 'Open Sans';
  color: $darkblue;
  margin-bottom: 1em;
}

.a-comment-text {
  font: 300 12px 'Open Sans';
}
