@import '../../../assets/styles/variables.scss';

.o-footer {
  display: block;
  position: static;
  background-color: $darkblue;
  width: 100%;
}

.m-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  width: 86%;
  padding: 4%;
  margin: auto;
}

.m-section {
  width: 20%;
}

.a-footer-title, .a-footer-text {
  color: $white;
}

.a-footer-text {
  font: 300 12px  'Open Sans';
}

.a-footer-title {
  font: 500 14px 'Open Sans';
  margin-bottom: 1em;
}

.a-footer-icon {
  color:$white;
  margin-right: 4px;
}
