<div class="m-post-wrapper" *ngFor="let item of items">
  <div class="m-post-row">
    <p class="a-post-title">{{ item.title }}</p>
    <div class="m-menu">
      <fa-icon class="a-post-more-icon" [icon]="faEllipsisH" [matMenuTriggerFor]="menu" ></fa-icon>
      <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
        <button mat-menu-item>
          <span>Report</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <p class="a-post-body">{{ items.body }}</p>

  <div class="m-post-row">
    <p class="a-post-tags">{{ item.tags }}</p>
    <div class="m-post-row">
      <div class="m-comments" (click)="toggleComments()" >
        <fa-icon class="a-post-comments-icon" [icon]="faComments"></fa-icon>
        <a class="a-post-comments-text">Comments</a>
      </div>
      <div class="m-save">
        <fa-icon class="a-post-save-icon" [icon]="faBookmark"></fa-icon>
        <a class="a-post-comments-text">Save</a>
      </div>
    </div>
  </div>
  <mat-accordion multi="true">
    <mat-expansion-panel
      (closed)="panelOpenState = false">
      <app-post-comments></app-post-comments>
      <app-create-post-comments></app-create-post-comments>
    </mat-expansion-panel>
  </mat-accordion>
</div>


