<div class="o-container">
  <div class="m-content-wrapper">
    <img src="../../assets/images/logo.png" class="a-image" alt="logo Vinqlo">
    <div class="m-content-text">
      <h1 class="a-big-title">One more step, check your inbox!</h1>
      <p class="a-paragraph">
       In order to provide a safe environment, we ask you to confirm your email :)
      </p>
    </div>
    <div class="m-actions-wrapper">
      <button type="submit" class="a-button" (click)="onLogin()">Go to Login page</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
