<div class="o-wrapper">
  <div class="m-dialog-content" class="o-form-wrapper">
    <h1 class="a-form-title">Welcome to</h1>
    <img
      class="a-image"
      src="../../../../assets/images/logo.png"
      alt="logo Vinqlo"
    />
    <form
      (submit)="onRegisterForm(registerForm)"
      #registerForm="ngForm"
      class="m-form"
    >
      <div class="m-input-wrapper">
        <mat-label class="a-label">Name</mat-label>
        <input
          matInput
          type="text"
          ngModel
          name="name"
          placeholder="Name"
          #nameInput="ngModel"
          required
        />
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label">Last name</mat-label>
        <input
          matInput
          type="text"
          ngModel
          name="lastName"
          placeholder="Last name"
          #lastNameInput="ngModel"
          required
        />
      </div>
      <div class="m-select-input">
        <mat-label class="a-label">Email</mat-label>

        <div class="m-select-email">
          <input
            matInput
            type="text"
            ngModel
            name="email"
            placeholder="Email"
            #emailInput="ngModel"
            required
          />
          <select #domainInput="ngModel" ngModel name="domain" required>
            <mat-label class="a-label">School</mat-label>
            <option value="@odisee.be">@odisee.be</option>
            <option value="@student.arteveldehs.be">@student.arteveldehs.be</option>
            <option value="@ugent.be">@ugent.be</option>
            <option value="@student.kuleuven.be">@student.kuleuven.be</option>
            <option value="@student.hogent.be">@student.hogent.be</option>
          </select>
        </div>
        <mat-error *ngIf="emailInput.invalid"
          >Please enter a valid email</mat-error
        >
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label"> Password </mat-label>
        <input
          class="a-input"
          matInput
          ngModel
          type="password"
          name="password"
          placeholder="****"
          #passwordInput="ngModel"
          required
        />
        <mat-error *ngIf="passwordInput.invalid"
          >Please enter a valid password</mat-error
        >
      </div>
      <div class="m-input-wrapper">
        <mat-label class="a-label"> Degree </mat-label>
        <input
          class="a-input"
          matInput
          ngModel
          type="text"
          name="degree"
          placeholder="The course you are following"
          #degreeInput="ngModel"
          required
        />
      </div>
      <div class="m-input-wrapper">
        <mat-label class="a-label"> Campus </mat-label>
        <input
          class="a-input"
          matInput
          ngModel
          type="text"
          name="campus"
          placeholder="Campus"
          #campusInput="ngModel"
          required
        />
      </div>
      <p class="a-form-paragraph">
        Do you have an account already ? <a routerLink="/login">Sign in</a>
      </p>
      <div class="a-actions-wrapper">
        <button type="submit" class="a-button">Sign Up</button>
      </div>
    </form>
  </div>
</div>
