<div class="m-post-comments-wrapper" *ngFor="let comment of post.comments">
  <mat-divider></mat-divider>
  <div class="m-post-comment-display">
    <div class="m-comment-header">
      <div class="m-info-wrapper">
        <h2 class="a-comment-username" (click)="goToProfile(comment?.creator?._id)"> {{ comment?.creator?.name }}</h2>
        <p class="a-comment-date">{{ comment?.createdAt | date: 'medium'}}</p>
      </div>
      <div class="m-menu">
        <fa-icon
          class="a-post-more-icon"
          [icon]="faEllipsisH"
          [matMenuTriggerFor]="menu"
        ></fa-icon>
        <mat-menu  #menu="matMenu" yPosition="below" xPosition="before">
          <button
           *ngIf="userId !== comment?.creator?._id"
           mat-menu-item
           class="a-option-item">Report</button>
          <button
          *ngIf="userId == comment?.creator?._id;"
            mat-menu-item
            class="a-option-item"
            (click)="onDelete(comment)"
          >
            Delete
          </button>
        </mat-menu>
      </div>
    </div>

    <p class="a-comment-user">{{comment?.name}}</p>
    <p class="a-comment-text">{{comment?.body}}</p>
  </div>
</div>
