@import '../../../../../assets/styles/variables.scss';

.o-container {
  box-sizing: border-box;
  padding:2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  min-height: calc(100vh - 70px);
}

.m-community-list {
  margin-left:2em;
  flex: 3;
}

.a-side-bar {
  flex:1;
}

.a-paginator {
  margin-top: 1em;
  background-color: $white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
}
