<app-header></app-header>
<div class="o-container">
  <app-sidebar class="a-sidebar"></app-sidebar>
  <div class="m-community-list">
    <app-searchbar class="a-searchbar"></app-searchbar>
    <app-community-list
      [communities]="communities"
      [userId]="userId"
      (profileViewed)="handleProfileViewed($event)"
      (communityViewed)="handleCommunityViewed($event)"
      (communityDeleted)="handleCommunityDeleted($event)"
      (communityJoined)="handleCommunityJoined($event)"
    ></app-community-list>
    <mat-paginator
      [length]="maxCommunities"
      [pageSize]="10"
      (page)="handlePageChanged($event)"
      class="a-paginator"
    ></mat-paginator>
  </div>
</div>
<app-footer></app-footer>
