@import "../../../../../assets/styles/variables.scss";

.a-plus-icon {
  color: $purple;
  font-size: 2.5em;
  cursor: pointer;
  border-radius: 100%;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(237,237,237,1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(237,237,237,1);
  box-shadow: 0px 1px 5px 0px rgba(237,237,237,1);
}

.a-plus-icon:hover {
  transition-duration: 0.4s, 0.4s;
  transition-timing-function: ease, ease-out;
}

.a-span {
  font: $blackSmallSemibold;
  color: $purple;
}

.m-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  position: sticky;
  left: 0;
  bottom:0;
  padding: 2% 0;
  z-index: 1;
}
