@import "../../../../../assets/styles/variables.scss";

.m-bar-wrapper {
  background-color: $white;
  line-height: 1.1;
  padding: 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(237, 237, 237, 1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(237, 237, 237, 1);
  box-shadow: 0px 2px 6px 2px rgba(237, 237, 237, 1);
}

.m-menu {
  cursor: pointer;
}

.m-bar-header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}
.m-bar-body {
  margin: 2% 0;
}

.a-community-title {
  font: $titleBigBold;
  color: $purple;
}

.a-body-paragraph {
  font:$regularText;
  color:$lightgrey;
}

.a-arrow-icon {
  color: $purple;
  font-size: 20px;
  cursor: pointer;
}

.a-community-users-icon {
  font: $blackSmallSemibold;
  color: $lightgrey;
}

.a-community-users-icon-text {
  font: $blackSmallSemibold;
  color: $lightgrey;
}

.a-arrow-icon:hover {
  color:rgb(67, 0, 67);
  transition:2.5ms;
}

.a-join-button {
  padding: 10px 30px;
  background-color: $grey;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.a-leave-button {
  color: $white;
  padding: 10px 30px;
  background-color: $purple;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.a-leave-button span {
  color: $white;
  font: $smallSpecialSemibold;
}

.a-join-button span {
  color: $black;
  font: $smallSpecialSemibold;
}

.a-link-open-icon {
  color: $cyan;
  margin: 0 2px;
}

.a-link-closed-icon {
  color: $cyan;
  margin: 0 2px;
}

.a-link-open-icon,
.a-link-closed-icon {
  font-size: 14px;
}
