<div class="o-wrapper">
  <div class="m-dialog-content" class="o-form-wrapper">
    <h1 class="a-form-title">Welcome to</h1>
    <img  class="a-image" src="../../../../assets/images/logo.png" alt="logo Vinqlo">
    <form (submit)="onLoginForm(loginForm)" #loginForm="ngForm" class="m-form">
      <div class="m-input-wrapper">
        <mat-label class="a-label">email</mat-label>
        <input
          matInput
          type="text"
          ngModel
          name="email"
          placeholder="youremail@student.arteveldehs.be"
          #emailInput="ngModel"
          required
        />
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label"> Password </mat-label>
        <input
          class="a-input"
          matInput
          ngModel
          type="password"
          name="password"
          placeholder="****"
          #passwordInput="ngModel"
          required
        />
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>

      </div>
      <p class="a-form-paragraph">Don't you have an account ? <a routerLink="/register">sign up</a></p>
      <div class="a-actions-wrapper">
        <button type="submit" class="a-button">Login</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
