<div class="o-content-wrapper">
  <div class="a-lint"></div>
  <div class="m-profile-picture-wrapper">
    <div class="a-image-wrapper" *ngIf="profileData?.file !== undefined">
      <img [src]="profileData?.file" [alt]="profileData?.name" />
    </div>
  </div>
  <div class="m-inner-wrapper">
    <div class="m-sub-inner-wrapper">
      <div class="m-user-info-wrapper">
        <p class="a-profile-name">
          {{ profileData?.name }} {{ profileData?.lastName }}
        </p>
        <p class="a-profile-subinfo">
          {{ profileData?.degree }} {{ profileData?.campus }}
        </p>
        <p class="a-profile-bio">{{ profileData?.bio }}</p>
      </div>
      <div class="m-contact-info">
        <ul>
          <li *ngIf="profileData?.socialMedia?.twitter === undefined || profileData?.socialMedia?.twitter !== null ">
            <fa-icon class="a-icon" [icon]="faTwitter"></fa-icon>
            <span class="a-media-text">{{ profileData?.socialMedia?.twitter }}</span>
          </li>
          <li *ngIf="profileData?.socialMedia?.instagram === undefined || profileData?.socialMedia?.instagram !== null ">
            <fa-icon class="a-icon" [icon]="faInstagram"></fa-icon>
            <span class="a-media-text">{{ profileData?.socialMedia?.instagram }}</span>
          </li>
          <li *ngIf="profileData?.socialMedia?.facebook === undefined || profileData?.socialMedia?.facebook !== null " >
            <fa-icon  class="a-icon" [icon]="faFacebook"></fa-icon>
            <span class="a-media-text">{{ profileData?.socialMedia?.facebook }}</span>
          </li>
          <li *ngIf="profileData?.socialMedia?.phoneNumber === undefined || profileData?.socialMedia?.phoneNumber !== null ">
            <fa-icon class="a-icon" [icon]="faWhatsapp"></fa-icon>
            <span class="a-media-text">{{ profileData?.socialMedia?.phoneNumber }}</span>
          </li>
        </ul>
      </div>
      <div
        class="m-action"
        (click)="openDialog()"
        *ngIf="userId == profileData?._id"
      >
        <fa-icon [icon]="faPen"class="a-icon"></fa-icon>
        <p>Edit personal Information</p>
      </div>
    </div>
  </div>
</div>
