@import "../../../../../assets/styles/variables.scss";

.o-content-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: $white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(237, 237, 237, 1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(237, 237, 237, 1);
  box-shadow: 0px 2px 6px 2px rgba(237, 237, 237, 1);
}

.a-profile-name {
  margin-bottom: 0.5em;
  text-align: center;
  font: $blueSemibold;
  color: $purple;
}

.a-profile-subinfo,
.a-profile-bio {
  text-align: center;
  font: $smallRegularText;
  color: $purple;
}

.m-sub-inner-wrapper {
  padding: 2em;
}

.a-lint {
  display: inline-block;
  border-radius: 20px 20px 0 0;
  position: relative;
  bottom: 30%;
  height: 140px;
  width: 100%;
  background-color: $darkblue;
}

.m-user-info-wrapper {
  margin: 0.5em 0;
}

.m-profile-picture-wrapper {
  margin: -10% 0 0 0;
  z-index: 2;
  display: inline-block;
  border-radius: 50%;
  background-color: $lightgrey;
  height: 250px;
  width: 250px;
}

.m-contact-info {
  text-align: center;
}

.a-image-wrapper img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.a-icon {
  font: $regularText;
  color: $cyan;
  margin-right: 0.3em;
}

.a-media-text {
  font: $smallRegularText;
  color: $darkblue
}

li {
  margin: 0.5em 0;
}

.m-action {
  margin: 1em 0;
  cursor: pointer;
  display: flex;
  flex-flow: row;
  font: $smallRegularText;
  color: $darkblue;
  justify-content: center;
}
