// Colors
$darkblue: #021a68;
$lightgrey: #8c8f8f;
$purple: #91009b;
$black: #000000;
$cyan: #25eaef;
$white: #ffffff;
$lightcyan: #dafdfe;
$grey: #f6f6f6;

// Fonts
$smallRegularText: 400 0.8em "Open Sans", serif;
$regularText: 400 1em "Open Sans", serif;
$blueBold: 700 1em "Open Sans", serif;
$blueSemibold: 600 1em "Open Sans", serif;
$lessGiganticBold: 700 10vh "Open Sans", serif;
$blackSmallSemibold: 600 0.8em "Open Sans", serif;
$blueBigSemibold: 600 2em "Open Sans", serif;

// Titles
$ralewayRegular: 400 1em "Raleway", serif;
$smallSpecialSemibold: 600 1em "Raleway", serif;
$BigSpecialText: 600 1.5em "Raleway", serif;
$titleBigBold: 600 1.7em "Raleway", serif;
$giganticBold: 700 20vh "Raleway", serif;
