@import '../../../assets/styles/variables.scss';

.m-searchbar-wrapper {
  background-color: $white;
  display: flex;
  margin: 2em auto;
  box-sizing: border-box;
  width: 100%;
  justify-content:left;
  align-items: flex-start;
  padding: 1em;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  -moz-box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
  box-shadow: 0px 2px 6px 2px rgba(237,237,237,1);
}

.a-input {
  border: none;
  font: 14px 400 "Open Sans";
}

.a-post-search-icon {
  font-size: 18px;
  margin-right: 1em;
  color:$cyan;
}
