<div class="m-sidebar-wrapper">
 <ul>
   <li><a href="" class="a-category-item"><fa-icon class="a-post-category-icon" [icon]="faRunning"></fa-icon>Sports</a></li>
   <mat-divider></mat-divider>
   <li><a href="" class="a-category-item"><fa-icon class="a-post-category-icon" [icon]="faCalendarDay"></fa-icon>Events</a></li>
   <mat-divider></mat-divider>
   <li><a href="" class="a-category-item"><fa-icon class="a-post-category-icon" [icon]="faBook"></fa-icon>Education</a></li>
   <mat-divider></mat-divider>
   <li><a href="" class="a-category-item"><fa-icon class="a-post-category-icon" [icon]="faCocktail"></fa-icon>Nightlife</a></li>
   <mat-divider></mat-divider>
   <li><a href="" class="a-category-item"><fa-icon class="a-post-category-icon" [icon]="faHandHoldingHeart"></fa-icon>Culture</a></li>
   <mat-divider></mat-divider>
   <li><a href="" class="a-category-item"><fa-icon class="a-post-category-icon" [icon]="faInfo"></fa-icon>Tips & Tricks</a></li>
 </ul>
</div>
