<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img src="../../../assets/images/svg/logo.svg"  class="a-menu-image" alt="">
    <span class="example-spacer"></span>
    <ul class="a-menu-list">
      <li><a href="" class="a-menu-link"><fa-icon class="a-menu-icon" [icon]="faList"></fa-icon>
        Feed</a></li>
      <li><a href="" class="a-menu-link"><fa-icon class="a-menu-icon" [icon]="faUserAlt"></fa-icon>
        Profile</a></li>
      <li><a href="" class="a-menu-link"><fa-icon class="a-menu-icon" [icon]="faEnvelope"></fa-icon>
        Contact</a></li>
    </ul>
  </mat-toolbar-row>
