<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img
      src="../../../assets/images/svg/logo.svg"
      class="a-menu-image"
      alt=""
    />
    <span class="example-spacer"></span>
    <ul class="a-menu-list">
      <li>
        <a routerLink="/feed" class="a-menu-link"
          ><fa-icon class="a-menu-icon" [icon]="faHome"></fa-icon> Feed</a
        >
      </li>
      <li>
        <a class="a-menu-link" (click)="goToProfile(userId)"
          ><fa-icon class="a-menu-icon" [icon]="faUserAlt" ></fa-icon> Profile</a
        >
      </li>
    </ul>
    <button mat-icon-button [matMenuTriggerFor]="auth" class="a-menu-sublevel">
      <fa-icon [icon]="faEllipsisV"></fa-icon>
    </button>
    <mat-menu #auth="matMenu">
      <button mat-menu-item *ngIf="!userIsAuthenticated">
        <a routerLink="/login" class="a-menu-link">
          <fa-icon class="a-menu-icon sub" [icon]="faSignInAlt"></fa-icon
          >Login</a
        >
      </button>
      <button mat-menu-item *ngIf="!userIsAuthenticated">
        <a routerLink="/register" class="a-menu-link">
          <fa-icon class="a-menu-icon sub" [icon]="faUserPlus"></fa-icon
          >Register</a
        >
      </button>
      <button mat-menu-item *ngIf="userIsAuthenticated" (click)="onLogout()">
        <a class="a-menu-link" >
          <fa-icon class="a-menu-icon sub" [icon]="faSignOutAlt"></fa-icon
          >Logout</a
        >
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
