<div *ngIf="!data; else editMode">
  <div class="m-dialog-header">
    <h1 mat-dialog-title class="a-title-dialog">Create Post</h1>
    <fa-icon
      class="a-times-icon"
      (click)="close()"
      [icon]="faTimesCircle"
    ></fa-icon>
  </div>

  <div mat-dialog-content [formGroup]="form" class="m-dialog-content">
    <div class="m-form">
      <div class="m-input-wrapper">
        <mat-label class="a-label">Select Category</mat-label>
        <select
          class="a-select-input"
          formControlName="category"
          matSelect
          placeholder="Select Category"
        >
          <option value="1">Sports</option>
          <option value="2">Nightlife</option>
          <option value="3">Education</option>
          <option value="3">Events</option>
          <option value="3">Tips & tricks</option>
        </select>
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label">Title</mat-label>
        <input
          matInput
          type="text"
          name="title"
          placeholder="Title"
          formControlName="title"
          required
        />
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label">What do you want to share?</mat-label>
        <textarea
          matInput
          type="text"
          placeholder="What do you want to share?"
          formControlName="body"
          required
        ></textarea>
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label">Tags</mat-label>
        <input
          matInput
          type="text"
          name="tags"
          placeholder="Tags (Separate with ,)"
          formControlName="tags"
        />
      </div>

      <div class="m-input-wrapper-last">
        <mat-label class="a-label" (click)="fileUpload.click()" id="a-file-input" >
          <fa-icon class="a-images-icon" [icon]="faImages"></fa-icon>
          Upload an image
        </mat-label>
        <input matInput  type="file" class="a-file-input" #fileUpload  (change)="onFileUploaded($event)" />
      </div>

      <div class="a-image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('file').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>

      <div mat-dialog-actions>
        <button type="submit" class="a-button" (click)="save()">Post</button>
      </div>
    </div>
  </div>
</div>

<ng-template #editMode>
  <div class="m-dialog-header">
    <h1 mat-dialog-title class="a-title-dialog">Edit Post</h1>
    <fa-icon
      class="a-times-icon"
      (click)="close()"
      [icon]="faTimesCircle"
    ></fa-icon>
  </div>

  <div mat-dialog-content [formGroup]="form" class="m-dialog-content">
    <div class="m-form">
      <div class="m-input-wrapper">
        <mat-label class="a-label">Select Category</mat-label>
        <select
          class="a-select-input"
          formControlName="category"
          matSelect
          placeholder="Select Category"
          >
          <option value="1">Sports</option>
          <option value="2">Nightlife</option>
          <option value="3">Education</option>
          <option value="3">Events</option>
          <option value="3">Tips & tricks</option>
        </select>
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label">Title</mat-label>
        <input
          matInput
          type="text"
          name="title"
          placeholder="Title"
          formControlName="title"
          required
        />
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label">What do you want to share?</mat-label>
        <textarea
          matInput
          type="text"
          placeholder="What do you want to share?"
          formControlName="body"
          required
        ></textarea>
      </div>

      <div class="m-input-wrapper">
        <mat-label class="a-label">Tags</mat-label>
        <input
          class="a-input"
          matInput
          type="text"
          name="tags"
          placeholder="Tags (Separate with ,)"
          formControlName="tags"
        />
      </div>

      <div class="m-input-wrapper-last">
        <mat-label class="a-label" (click)="fileUpload.click()" id="a-file-input" >
          <fa-icon class="a-images-icon" [icon]="faImages"></fa-icon>
          Upload an image
        </mat-label>
        <input matInput  type="file" class="a-file-input" #fileUpload  (change)="onFileUploaded($event)" />
      </div>
        <div class="a-image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('file').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <div mat-dialog-actions>
        <button type="submit" class="a-button" (click)="save()">Update</button>
      </div>
    </div>
  </div>
</ng-template>
