<ng-container *ngIf="items">
  <div *ngIf="items?.length; else singlePost">
    <div class="m-post-wrapper" *ngFor="let post of items">
      <div class="m-post-row">
        <div class="m-right-wrapper">
          <p class="a-post-title">
            <a (click)="onView(post)">{{ post?.title }}</a>
          </p>
          <p class="a-post-date"><span class="a-creators-name">{{ post.creator.name}}</span>{{ post.createdAt | date: "medium" }}</p>
        </div>
        <div class="m-menu">
          <fa-icon
            class="a-post-more-icon"
            [icon]="faEllipsisH"
            [matMenuTriggerFor]="menu"
          ></fa-icon>
          <mat-menu  #menu="matMenu" yPosition="below" xPosition="before">
            <button
             *ngIf="userId !== post.creator._id"
             mat-menu-item
             class="a-option-item">Report</button>
            <button
            *ngIf="userId == post.creator._id;"
              mat-menu-item
              class="a-option-item"
              (click)="onDelete(post.id)"
            >
              Delete
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="a-post-image" *ngIf="post.file !== undefined">
        <img [src]="post.file" [alt]="post.title">
      </div>
      <p class="a-post-body">{{ post.body }}</p>
      <div class="m-post-row">
        <p class="a-post-tags">{{ post.tags }}</p>
        <div class="m-actions-wrapper">
          <div class="m-action-item">
            <fa-icon class="a-post-icon likes" (click)="onLiked(post)" [icon]="faHeart"></fa-icon>
            <a class="a-icon-text" >{{ post.likers?.length }}</a>
          </div>
          <div class="m-action-item">
            <fa-icon class="a-post-icon" [icon]="faComments"></fa-icon>
            <a class="a-icon-text">{{ post.comments?.length }}</a>
          </div>
          <div class="m-action-item">
            <fa-icon class="a-post-icon" [icon]="faBookmark" (click)="onAddToCollection(post?.id)"></fa-icon>
          </div>
          <div class="m-action-item">
            <fa-icon class="a-post-icon" [icon]="faShare"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #singlePost>
    <div class="m-post-wrapper">
      <div class="m-post-row">
        <div class="m-right-wrapper">
          <p class="a-post-title">
            <a>{{ items.title }}</a>
          </p>
          <p class="a-post-date"><span class="a-creators-name">{{ items.creator?.name}}</span>{{ items.createdAt | date: "medium" }}</p>
        </div>
        <div class="m-menu">
          <fa-icon
            class="a-post-more-icon"
            [icon]="faEllipsisH"
            [matMenuTriggerFor]="menu"
          ></fa-icon>
          <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
            <button mat-menu-item
            *ngIf="userId !== items.creator?._id"
             class="a-option-item">Report</button>
            <button
            *ngIf="userId == items.creator?._id;"
              mat-menu-item
              class="a-option-item"
              (click)="onDelete(items._id)"
            >
              Delete
            </button>
            <button
            *ngIf="userId == items.creator?._id;"
              mat-menu-item
              class="a-option-item"
              (click)="openDialog()"
            >
              Edit
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="a-post-image" *ngIf="items.file !== undefined">
        <img [src]="items.file" [alt]="items.title">
      </div>
      <p class="a-post-body">{{ items.body }}</p>
      <div class="m-post-row">
        <p class="a-post-tags">{{ items.tags }}</p>
        <div class="m-actions-wrapper">
          <div class="m-action-item">
            <fa-icon class="a-post-icon"  [icon]="faHeart" (click)="onLiked(items?._id)"></fa-icon>
            <a class="a-icon-text">{{ items.likers?.length}}</a>
          </div>
          <div class="m-action-item">
            <fa-icon class="a-post-icon" [icon]="faComments"></fa-icon>
            <a class="a-icon-text">{{ items.comments?.length}}</a>
          </div>
          <div class="m-action-item">
            <fa-icon class="a-post-icon" [icon]="faBookmark" (click)="onAddToCollection(items?._id)"></fa-icon>
          </div>
          <div class="m-action-item">
            <fa-icon class="a-post-icon" [icon]="faShare"></fa-icon>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div class="m-comments">
            <fa-icon class="a-post-icon" [icon]="faComments"></fa-icon>
            <a class="a-icon-text">Comments</a>
          </div>
        </mat-expansion-panel-header>
        <app-post-comments
        [post]="items"
        [comment]="commentCreatedEvent"></app-post-comments>
        <app-create-post-comments
        [post]="items"
        (commentCreated)="onCommentCreated($event)"></app-create-post-comments>
      </mat-expansion-panel>
    </div>
  </ng-template>
</ng-container>
