<div class="m-dialog-header">
  <h1 mat-dialog-title class="a-title-dialog">Edit Personal Information</h1>
  <fa-icon
    class="a-times-icon"
    (click)="close()"
    [icon]="faTimesCircle"
  ></fa-icon>
</div>

<div mat-dialog-content [formGroup]="form" class="m-dialog-content">
  <div class="m-form">
    <div class="m-input-wrapper">
      <mat-label class="a-label">Campus</mat-label>
      <input
      matInput
      type="text"
      name="campus"
      placeholder="Campus"
      formControlName="campus"
      required
    />
    </div>

    <div class="m-input-wrapper">
      <mat-label class="a-label">Degree</mat-label>
      <input
        matInput
        type="text"
        name="degree"
        placeholder="degree"
        formControlName="degree"
        required
      />
    </div>

    <div class="m-input-wrapper">
      <mat-label class="a-label">Bio</mat-label>
      <textarea
        matInput
        type="text"
        placeholder="Why don't you tell everybody a bit about yourself! :)"
        formControlName="bio"
      ></textarea>
    </div>

    <div class="m-input-wrapper">
      <h2>Contact information</h2>
    </div>

    <div class="m-input-wrapper">
      <mat-label class="a-label">Instagram</mat-label>
      <input
        matInput
        type="text"
        name="instagram"
        placeholder="Start with @"
        formControlName="instagram"
      />
    </div>

    <div class="m-input-wrapper">
      <mat-label class="a-label">Facebook</mat-label>
      <input
        matInput
        type="text"
        name="facebook"
        placeholder="Start with @"
        formControlName="facebook"
      />
    </div>

    <div class="m-input-wrapper">
      <mat-label class="a-label">Twitter</mat-label>
      <input
        matInput
        type="text"
        name="twitter"
        placeholder="Start with @"
        formControlName="twitter"
      />
    </div>

    <div class="m-input-wrapper">
      <mat-label class="a-label">Phone Number</mat-label>
      <input
        matInput
        type="text"
        name="phoneNumber"
        placeholder="You can add the indicative of your country if you want to be available on whatsapp"
        formControlName="phoneNumber"
      />
    </div>

    <div class="m-input-wrapper-last">
      <mat-label class="a-label" (click)="fileUpload.click()" id="a-file-input" >
        <fa-icon class="a-images-icon" [icon]="faImages"></fa-icon>
        Upload an image
      </mat-label>
      <input matInput  type="file" class="a-file-input" #fileUpload  (change)="onFileUploaded($event)" />
    </div>

    <div class="a-image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('file').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <div mat-dialog-actions>
      <button type="submit" class="a-button" (click)="save()">Update</button>
    </div>
  </div>
</div>
