// Colors

$darkblue: #021A68;
$lightgray: #8C8F8F;
$purple:#91009B;
$black:#000000;
$cyan: #25EAEF;
$white: #FFFFFF;
$lightcyan:#DAFDFE;


// Fonts

$ralewayRegular: 400 14px 'Raleway', serif;
$blackSmallSemibold: 600 12px 'Open Sans', serif;
$blueBigSemibold: 600 26px 'Open Sans', serif;
$blueBold: 700 16px 'Open Sans', serif;
$blueSemibold: 600 16px 'Open Sans', serif;
$purpleBigBold: 600 20px 'Raleway', serif;
$purpleRegular: 400 14px 'Open Sans', serif;
