// Colors

$darkblue: #021a68;
$lightgrey: #8c8f8f;
$purple: #91009b;
$black: #000000;
$cyan: #25eaef;
$white: #ffffff;
$lightcyan: #dafdfe;
$grey: #F6F6F6;

// Fonts

$smallRegularText: 400 10px "Open Sans", serif;
$regularText: 400 14px "Open Sans", serif;
$blueBold: 700 16px "Open Sans", serif;
$blueSemibold: 600 16px "Open Sans", serif;
$lessGiganticBold: 700 10vh "Open Sans", serif;
$blackSmallSemibold: 600 12px "Open Sans", serif;
$blueBigSemibold: 600 26px "Open Sans", serif;

// Titles
$ralewayRegular: 400 14px "Raleway", serif;
$smallSpecialSemibold: 600 14px "Raleway", serif;
$BigSpecialText: 600 18px "Raleway", serif;
$titleBigBold: 600 20px "Raleway", serif;
$giganticBold: 700 20vh "Raleway", serif;

